.fade_in {
    animation-name: fade_in_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes fade_in_kf {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
html {
    height: 100%;
}
img {
    width: 100%;
    animation-name: floating3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/*Styletile*/


/*Styeltile HTML only*/

.icon {
    width: 300px;
}
.icon2 {
    width: 32px;
}
.icon3 {
    width: 16px;
}
.knap img {
    width: 234px;
}
#styletile {
    margin: 5vw;
}
#knap {
    position: absolute;
    background-image: url(assetliste/knap.svg);
    background-size: cover;
    width: 21vw;
    height: 7vw;
    left: 30vw;
}
#kontakt_style {
    background-image: url(assetliste/kontakt.svg);
    position: absolute;
    background-size: cover;
    width: 12vw;
    height: 3vw;
    left: 4.5vw;
    top: 2vw;
    cursor: pointer;
    /*
    text-align: center;
    padding-top: 2vw;
*/
}
.colors {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 10px;
    width: 40vw;
}
.colorbox {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: white;
}
.color_1 {
    background-color: #211869;
}
.color_2 {
    background-color: #582b52;
}
.color_3 {
    background-color: #581028;
}
.color_4 {
    background-color: #c7061b;
}
.color_5 {
    background-color: #f55b15;
}
.color_6 {
    background-color: #fed700;
}
.color_7 {
    background-color: #d6c97e;
}
.color_8 {
    background-color: #ffffff;
}
#styletile .splash {
    margin-bottom: 250px;
}

/*Styeltile HTML only*/


/*Style*/


/*
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("assetliste/baggrund.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}
*/

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("assetliste/baggrund.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/

#fireflie_container_h1 {
    text-align: center;
    z-index: 2;
}
#unit {
    position: absolute;
    position: fixed;
    left: 1vw;
    top: 10vw;
    width: .5vw;
    height: .5vw;
    background-color: #f3ef53;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(115, 175, 64, 1), 0 0 15px rgba(94, 159, 61, 1), 0 0 20px rgba(115, 175, 64, 1), 0 0 25px rgba(94, 159, 61, 1);
}
#fireflie_container {
    position: absolute;
    position: fixed;
    left: 1vw;
    top: 10vw;
    width: .5vw;
    height: .5vw;
}
#unit2 {
    position: absolute;
    position: fixed;
    left: 5vw;
    top: 5vw;
    width: .5vw;
    height: .5vw;
    background-color: #f3ef53;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(115, 175, 64, 1), 0 0 15px rgba(94, 159, 61, 1), 0 0 20px rgba(115, 175, 64, 1), 0 0 25px rgba(94, 159, 61, 1);
}
#fireflie_container2 {
    position: absolute;
    position: fixed;
    left: 5vw;
    top: 5vw;
    width: .5vw;
    height: .5vw;
}
#unit3 {
    position: absolute;
    position: fixed;
    left: 30vw;
    top: 20vw;
    width: .5vw;
    height: .5vw;
    background-color: #f3ef53;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(115, 175, 64, 1), 0 0 15px rgba(94, 159, 61, 1), 0 0 20px rgba(115, 175, 64, 1), 0 0 25px rgba(94, 159, 61, 1);
}
#fireflie_container3 {
    position: absolute;
    position: fixed;
    left: 20vw;
    top: 25vw;
    width: .5vw;
    height: .5vw;
}

/**/

#unit4 {
    position: absolute;
    position: fixed;
    left: 10vw;
    top: 10vw;
    width: .3vw;
    height: .3vw;
    background-color: #f3ef53;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(115, 175, 64, 1), 0 0 15px rgba(94, 159, 61, 1), 0 0 20px rgba(115, 175, 64, 1), 0 0 25px rgba(94, 159, 61, 1);
}
#fireflie_container4 {
    position: absolute;
    position: fixed;
    left: 20vw;
    top: 20vw;
    width: .3vw;
    height: .3vw;
}
#unit5 {
    position: absolute;
    position: fixed;
    left: 20vw;
    top: 20vw;
    width: .3vw;
    height: .3vw;
    background-color: #f3ef53;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(115, 175, 64, 1), 0 0 15px rgba(94, 159, 61, 1), 0 0 20px rgba(115, 175, 64, 1), 0 0 25px rgba(94, 159, 61, 1);
}
#fireflie_container5 {
    position: absolute;
    position: fixed;
    left: 20vw;
    top: 20vw;
    width: .3vw;
    height: .3vw;
}
#unit6 {
    position: absolute;
    position: fixed;
    left: 30vw;
    top: 20vw;
    width: .3vw;
    height: .3vw;
    background-color: #f3ef53;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(115, 175, 64, 1), 0 0 15px rgba(94, 159, 61, 1), 0 0 20px rgba(115, 175, 64, 1), 0 0 25px rgba(94, 159, 61, 1);
}
#fireflie_container6 {
    position: absolute;
    position: fixed;
    left: 20vw;
    top: 20vw;
    width: .3vw;
    height: .3vw;
}
#unit7 {
    position: absolute;
    position: fixed;
    left: 30vw;
    top: 18vw;
    width: .5vw;
    height: .5vw;
    background-color: #f3ef53;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(115, 175, 64, 1), 0 0 15px rgba(94, 159, 61, 1), 0 0 20px rgba(115, 175, 64, 1), 0 0 25px rgba(94, 159, 61, 1);
}
#fireflie_container7 {
    position: absolute;
    position: fixed;
    left: 60vw;
    top: 20vw;
    width: .5vw;
    height: .5vw;
}
#unit8 {
    position: absolute;
    position: fixed;
    left: 50vw;
    top: 49vw;
    width: .5vw;
    height: .5vw;
    background-color: #f3ef53;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(115, 175, 64, 1), 0 0 15px rgba(94, 159, 61, 1), 0 0 20px rgba(115, 175, 64, 1), 0 0 25px rgba(94, 159, 61, 1);
}
#fireflie_container8 {
    position: absolute;
    position: fixed;
    left: 50vw;
    top: 20vw;
    width: .5vw;
    height: .5vw;
}

/**/

.glow {
    animation-name: glow_kf;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes glow_kf {
    0% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    25% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
    }
    50% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    100% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
        opacity: 0%;
    }
}
.glow2 {
    animation-name: glow2_kf;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes glow2_kf {
    0% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    25% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
        opacity: 0%;
    }
    50% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    100% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
    }
}
.glow3 {
    animation-name: glow3_kf;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes glow3_kf {
    0% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    25% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
    }
    50% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    100% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
        opacity: 0%;
    }
}
.glow4 {
    animation-name: glow4_kf;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes glow4_kf {
    0% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    25% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
    }
    50% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    100% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
        opacity: 0%;
    }
}
.glow5 {
    animation-name: glow5_kf;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes glow5_kf {
    0% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
        opacity: 0%;
    }
    25% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
    }
    50% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    100% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
    }
}
.glow6 {
    animation-name: glow6_kf;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes glow6_kf {
    0% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    25% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
    }
    50% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    100% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
        opacity: 0%;
    }
}
.glow7 {
    animation-name: glow7_kf;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes glow7_kf {
    0% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    25% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
    }
    50% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    100% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
        opacity: 0%;
    }
}
.glow8 {
    animation-name: glow8_kf;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes glow8_kf {
    0% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    25% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
    }
    50% {
        filter: drop-shadow(0px 0px 0.1vw yellow) blur(.1vw);
    }
    100% {
        filter: drop-shadow(0px 0px 1vw yellow) blur(.3vw);
        opacity: 0%;
    }
}
.fly {
    animation-name: fly_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.06, .3, 1, 1);
    animation-direction: alternate-reverse;
}
@keyframes fly_kf {
    0% {
        transform: scale(1, 1) translatex(-10vw);
        ;
    }
    25% {
        transform: scale(1, 1) translatex(-1vw);
    }
    50% {
        transform: scale(1, 1) translatex(20vw);
    }
    75% {
        transform: scale(1, 1) translatex(32vw);
    }
    90% {
        transform: scale(.8, 1.1) translatex(-11vw);
    }
    100% {
        transform: scale(1, 1) translatex(-10vw);
    }
}
.fly2 {
    animation-name: fly2_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.51, .23, .54, .83);
    animation-direction: alternate-reverse;
}
@keyframes fly2_kf {
    0% {
        transform: scale(1, 1) translatex(-10vw);
        ;
    }
    25% {
        transform: scale(1, 1) translatex(-1vw);
    }
    50% {
        transform: scale(1, 1) translatex(20vw);
    }
    75% {
        transform: scale(1, 1) translatex(32vw);
    }
    90% {
        transform: scale(.8, 1.1) translatex(-11vw);
    }
    100% {
        transform: scale(1, 1) translatex(-10vw);
    }
}
.fly3 {
    animation-name: fly3_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.06, .3, 1, 1);
    animation-direction: alternate-reverse;
}
@keyframes fly3_kf {
    0% {
        transform: scale(1, 1) translatex(-10vw);
        ;
    }
    25% {
        transform: scale(1, 1) translatex(-1vw);
    }
    50% {
        transform: scale(1, 1) translatex(20vw);
    }
    75% {
        transform: scale(1, 1) translatex(32vw);
    }
    90% {
        transform: scale(.8, 1.1) translatex(-11vw);
    }
    100% {
        transform: scale(1, 1) translatex(-10vw);
    }
}
.fly4 {
    animation-name: fly4_kf;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.06, .3, 1, 1);
    animation-direction: alternate-reverse;
}
@keyframes fly4_kf {
    0% {
        transform: scale(1, 1) translatex(-10vw);
        ;
    }
    25% {
        transform: scale(1, 1) translatex(-1vw);
    }
    50% {
        transform: scale(1, 1) translatex(20vw);
    }
    75% {
        transform: scale(1, 1) translatex(32vw);
    }
    90% {
        transform: scale(.8, 1.1) translatex(-11vw);
    }
    100% {
        transform: scale(1, 1) translatex(-10vw);
    }
}
.fly5 {
    animation-name: fly5_kf;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.51, .23, .54, .83);
    animation-direction: alternate-reverse;
}
@keyframes fly5_kf {
    0% {
        transform: scale(1, 1) translatex(-10vw);
        ;
    }
    25% {
        transform: scale(1, 1) translatex(-1vw);
    }
    50% {
        transform: scale(1, 1) translatex(20vw);
    }
    75% {
        transform: scale(1, 1) translatex(32vw);
    }
    90% {
        transform: scale(.8, 1.1) translatex(-11vw);
    }
    100% {
        transform: scale(1, 1) translatex(-10vw);
    }
}
.fly6 {
    animation-name: fly6_kf;
    animation-duration: 21s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.06, .3, 1, 1);
    animation-direction: alternate-reverse;
}
@keyframes fly6_kf {
    0% {
        transform: scale(1, 1) translatex(-10vw);
        ;
    }
    25% {
        transform: scale(1, 1) translatex(-1vw);
    }
    50% {
        transform: scale(1, 1) translatex(20vw);
    }
    75% {
        transform: scale(1, 1) translatex(32vw);
    }
    90% {
        transform: scale(.8, 1.1) translatex(-11vw);
    }
    100% {
        transform: scale(1, 1) translatex(-10vw);
    }
}
.fly7 {
    animation-name: fly7_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.06, .3, 1, 1);
    animation-direction: alternate-reverse;
}
@keyframes fly7_kf {
    0% {
        transform: scale(1, 1) translatex(10vw);
        ;
    }
    25% {
        transform: scale(1, 1) translatex(1vw);
    }
    50% {
        transform: scale(1, 1) translatex(-20vw);
    }
    75% {
        transform: scale(1, 1) translatex(-32vw);
    }
    90% {
        transform: scale(.8, 1.1) translatex(11vw);
    }
    100% {
        transform: scale(1, 1) translatex(10vw);
    }
}
.fly8 {
    animation-name: fly8_kf;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.06, .3, 1, 1);
    animation-direction: alternate-reverse;
}
@keyframes fly8_kf {
    0% {
        transform: scale(1, 1) translatex(10vw);
        ;
    }
    25% {
        transform: scale(1, 1) translatex(1vw);
    }
    50% {
        transform: scale(1, 1) translatex(-20vw);
    }
    75% {
        transform: scale(1, 1) translatex(-32vw);
    }
    90% {
        transform: scale(.8, 1.1) translatex(11vw);
    }
    100% {
        transform: scale(1, 1) translatex(10vw);
    }
}

/**/


/*animation-direction: alternate-reverse;*/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/

h1 {
    font-family: 'Sacramento', cursive;
    color: #D6C97E;
    font-size: 5rem;
    font-weight: 500;
}
h2 {
    font-family: 'Sacramento', cursive;
    color: #D6C97E;
    font-size: 2rem;
    font-weight: 500;
}
.h22 {
    font-family: 'Sacramento', cursive;
    color: #581028;
    font-size: 2rem;
    font-weight: 500;
}
h3 {
    font-family: lato;
    color: #D6C97E;
    letter-spacing: 0.12vw;
    font-weight: 300;
    font-size: 1.3rem;
}
p {
    font-family: lato;
    color: #D6C97E;
    letter-spacing: 0.12vw;
    font-weight: 300;
    font-size: 1rem;
}
li {
    font-family: lato;
    color: #D6C97E;
    letter-spacing: 0.12vw;
    font-weight: 300;
    font-size: 1rem;
}
a {
    font-family: lato;
    color: #D6C97E;
    letter-spacing: 0.12vw;
    font-weight: 300;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
}

/*Style*/


/*Styletile*/


/*Nav*/

.hidden {
    opacity: 0;
    cursor: pointer;
}
nav {
    height: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    background-image: linear-gradient(180deg, rgb(88, 43, 82) 0%, rgba(39, 30, 98, 0.5368522408963585) 71%, rgba(33, 24, 105, 0) 100%);
    z-index: 50;
    padding-bottom: 13vw;
}
nav img {
    width: 16px;
}
nav .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.logo {
    width: 30%;
    padding-left: 10px;
    padding-top: 10px;
}
#menuknap_wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: 10px;
}
#menuknap {
    display: inline-block;
}
#menu {
    list-style-type: none;
    display: block;
    margin-bottom: 0;
    margin-top: 2px;
}
#menu a {
    padding-bottom: 10px;
    padding-right: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: none;
}
#menu {
    margin-left: 30px;
}

/*burger*/

.bar1,
.bar2,
.bar3 {
    width: 34px;
    height: 1px;
    background-color: #d6c97e;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-2px, 8px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-2px, -8px);
}

/*burger*/


/*over600px*/

@media only screen and (min-width: 600px) {
    nav .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #menuknap {
        display: none;
    }
    #menu.hidden {
        opacity: 1;
    }
    #menu {
        width: 190%;
    }
    nav {
        display: block;
        text-align: right;
        height: 2vw;
        padding-bottom: 5vw;
    }
    .logo {
        width: 10vw;
        margin-top: 8px;
    }
    nav img {
        width: 32px;
        padding-right: 10px;
    }
}
a:hover {
    color: #ffffff;
}
a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}
a:hover::after {
    width: 100%;
    transition: width .3s;
}

/*over600px*/


/*Nav*/


/*Footer*/

#footer_section {
    margin-top: 1500px;
    height: 60vw;
    bottom: 0;
    padding-top: 5px;
    background-image: linear-gradient(0deg, rgb(88, 43, 82) 0%, rgba(39, 30, 98, 0.5368522408963585) 71%, rgba(33, 24, 105, 0) 100%);
}
footer .txt {
    text-align: center;
}
footer .button {
    position: absolute;
    background-image: url(assetliste/knap.svg);
    background-size: cover;
    width: 21vw;
    height: 7vw;
    left: 39vw;
    margin: 5px;
}
footer .button:hover {
    animation-name: glowf_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes glowf_kf {
    0% {
        filter: drop-shadow(0px 0px 0vw rgb(167, 31, 99));
    }
    50% {
        filter: drop-shadow(0px 0px 2vw rgb(88, 43, 82));
    }
    100% {
        filter: drop-shadow(0px 0px 0vw rgb(167, 31, 99));
    }
}
.line {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 0.1vw;
    background-color: #d6c97e;
    margin-top: 70px;
}
footer .icons {
    margin-top: 10px;
}
.SoMe img {
    width: 7vw;
}
.SoMe {
    margin-top: 1vw;
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 600px) {
    footer {
        height: 30vw;
        padding-top: 0vw;
    }
    footer #footer_section {
        height: 30vw;
        margin-top: 20vw;
    }
    .line {
        width: 90%;
        margin-top: 10vw;
    }
    footer .icons {
        margin-top: 10px;
    }
}

/*Footer*/


/**/


/**/


/**/


/**/


/**/


/*Forside*/


/*Splash*/

#forside {
    margin: 5vw;
    position: relative;
    height: 150vw;
}
#forside #splash {
    text-align: center;
    margin-top: 100vw;
    padding-bottom: 30vw;
    opacity: 1;
}
#forside #splash #emily_hoolahan_txt_container {
    position: absolute;
}
#forside #splash .emily_hoolahan_txt {
    background-image: url(assetliste/emilyhoolahantxt.svg);
    background-size: cover;
    width: 100px;
    height: 18px;
    opacity: 0;
}
#forside #splash #emily_hoolahan_txt_container {
    position: absolute;
    left: 3vw;
}
#forside #splash #emily_hoolahan_txt_sprite {
    background-image: url(assetliste/portfoliotxt.svg);
    background-size: cover;
    width: 80vw;
    height: 32vw;
}

/*Splash*/


/*Portfolio*/

#forside #portfolio {
    margin-top: 290px;
    margin-left: -3vw;
}
#forside #portfolio #galleri_row {
    position: relative;
    height: 140vw;
    margin-bottom: 10px;
    overflow: hidden;
}
#splash_container {
    position: absolute;
    clip: rect(0px, 12vw, 130vw, 3vw);
    left: 0vw;
}
#splash_sprite {
    background-image: url(billeder/splash.jpg);
    background-size: cover;
    width: 15vw;
    height: 130vw;
    cursor: pointer;
}
#splash_container:hover {
    animation-name: clip_away;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}
@keyframes clip_away {
    0% {
        clip: rect(0px, 12vw, 130vw, 3vw);
    }
    100% {
        clip: rect(0px, 12vw, 130vw, 0vw);
    }
}
#splash_sprite:hover {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
#ide_container {
    position: absolute;
    clip: rect(0px, 12vw, 100vw, 3vw);
    left: 11vw;
    top: 3vw;
}
#ide_sprite {
    background-image: url(billeder/ide.jpg);
    background-size: cover;
    width: 15vw;
    height: 130vw;
    cursor: pointer;
}
#ide_container:hover {
    animation-name: clip_away;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}
@keyframes clip_away {
    0% {
        clip: rect(0px, 12vw, 130vw, 3vw);
    }
    100% {
        clip: rect(0px, 12vw, 130vw, 0vw);
    }
}
#ide_sprite:hover {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    0% {
        transform: scale(1.05);
    }
}
#prototype_container {
    position: absolute;
    clip: rect(0px, 12vw, 130vw, 3vw);
    left: 22vw;
    top: 1vw;
}
#prototype_sprite {
    background-image: url(billeder/prototype.jpg);
    background-size: cover;
    width: 15vw;
    height: 130vw;
    cursor: pointer;
}
#prototype_container:hover {
    animation-name: clip_away;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}
@keyframes clip_away {
    0% {
        clip: rect(0px, 12vw, 130vw, 3vw);
    }
    100% {
        clip: rect(0px, 12vw, 130vw, 0vw);
    }
}
#prototype_sprite:hover {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    0% {
        transform: scale(1.05);
    }
}
#pitch_container {
    position: absolute;
    clip: rect(0px, 12vw, 130vw, 3vw);
    left: 33vw;
    top: 2vw;
}
#pitch_sprite {
    background-image: url(billeder/pitch.jpg);
    background-size: cover;
    width: 15vw;
    height: 130vw;
    cursor: pointer;
}
#pitch_container:hover {
    animation-name: clip_away;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}
@keyframes clip_away {
    0% {
        clip: rect(0px, 12vw, 130vw, 3vw);
    }
    100% {
        clip: rect(0px, 12vw, 130vw, 0vw);
    }
}
#pitch_sprite:hover {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    0% {
        transform: scale(1.05);
    }
}
#ass_container {
    position: absolute;
    clip: rect(0px, 12vw, 130vw, 3vw);
    left: 44vw;
    top: 0vw;
}
#ass_sprite {
    background-image: url(billeder/assitliste.jpg);
    background-size: cover;
    width: 15vw;
    height: 130vw;
    cursor: pointer;
}
#ass_container:hover {
    animation-name: clip_away;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}
@keyframes clip_away {
    0% {
        clip: rect(0px, 12vw, 130vw, 3vw);
    }
    100% {
        clip: rect(0px, 12vw, 130vw, 0vw);
    }
}
#ass_sprite:hover {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    0% {
        transform: scale(1.05);
    }
}
#spil_container {
    position: absolute;
    clip: rect(0px, 12vw, 130vw, 3vw);
    left: 55.2vw;
    top: 1vw;
}
#spil_sprite {
    background-image: url(billeder/spil.jpg);
    background-size: cover;
    width: 15vw;
    height: 130vw;
    cursor: pointer;
}
#spil_container:hover {
    animation-name: clip_away;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}
@keyframes clip_away {
    0% {
        clip: rect(0px, 12vw, 130vw, 3vw);
    }
    100% {
        clip: rect(0px, 12vw, 130vw, 0vw);
    }
}
#spil_sprite:hover {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    0% {
        transform: scale(1.05);
    }
}
#pilot_container {
    position: absolute;
    clip: rect(0px, 12vw, 130vw, 3vw);
    left: 66vw;
    top: 3vw;
}
#pilot_sprite {
    background-image: url(billeder/pilot.jpg);
    background-size: cover;
    width: 15vw;
    height: 130vw;
    cursor: pointer;
}
#pilot_container:hover {
    animation-name: clip_away;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}
@keyframes clip_away {
    0% {
        clip: rect(0px, 12vw, 130vw, 3vw);
    }
    100% {
        clip: rect(0px, 12vw, 130vw, 0vw);
    }
}
#pilot_sprite:hover {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    0% {
        transform: scale(1.05);
    }
}
#redesign_container {
    position: absolute;
    clip: rect(0px, 12vw, 130vw, 3vw);
    left: 77vw;
}
#redesign_sprite {
    background-image: url(billeder/redesign.jpg);
    background-size: cover;
    width: 15vw;
    height: 130vw;
    cursor: pointer;
}
#redesign_container:hover {
    animation-name: clip_away;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}
@keyframes clip_away {
    0% {
        clip: rect(0px, 12vw, 130vw, 3vw);
    }
    100% {
        clip: rect(0px, 12vw, 130vw, 0vw);
    }
}
#redesign_sprite:hover {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    0% {
        transform: scale(1.05);
    }
}
#forside #portfolio a {
    display: flex;
    justify-content: center;
    font-family: 'Sacramento', cursive;
    color: #D6C97E;
    font-size: 5rem;
    font-weight: 500;
    margin-left: 8vw;
    margin-top: 5vw;
}
#forside #portfolio a:hover {
    animation-name: glowa_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes glowa_kf {
    0% {
        filter: drop-shadow(0px 0px 0.1vw #fff098);
        transform: scale(1.01);
    }
    50% {
        filter: drop-shadow(0px 0px 0.5vw #fff098);
        transform: scale(1.05);
    }
    100% {
        filter: drop-shadow(0px 0px 0.1vw #fff098);
        transform: scale(1.01);
    }
}
#forside #portfolio a::after {
    width: 0;
    height: 0px;
}
#forside #portfolio a:hover::after {
    width: 0%;
}

/*Portfolio*/


/*Emily Hoolahan*/

#forside #emilyhoolahan .img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vw;
    width: 80vw;
}
#forside #emilyhoolahan .h1 a {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Sacramento', cursive;
    color: #D6C97E;
    font-size: 5rem;
    font-weight: 500;
    margin-top: 5vw;
}
#forside #emilyhoolahan a:hover {
    animation-name: glowa_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
#forside #emilyhoolahan a::after {
    width: 0;
    height: 0px;
}
#forside #emilyhoolahan a:hover::after {
    width: 0%;
}

/*Emily Hoolahan*/

@media only screen and (min-width: 600px) {
    /*Splash*/
    #forside {
        margin: 5vw;
        position: relative;
        height: 150vw;
    }
    #forside #splash {
        text-align: center;
        margin-top: 23vw;
        padding-bottom: 30vw;
        opacity: 1;
    }
    #forside #splash #emily_hoolahan_txt_container {
        position: absolute;
    }
    #forside #splash .emily_hoolahan_txt {
        background-image: url(assetliste/emilyhoolahantxt.svg);
        background-size: cover;
        width: 100px;
        height: 18px;
        opacity: 0;
    }
    #forside #splash #emily_hoolahan_txt_container {
        position: absolute;
        left: 35vw;
    }
    #forside #splash #emily_hoolahan_txt_sprite {
        background-image: url(assetliste/portfoliotxt.svg);
        background-size: cover;
        width: 20vw;
        height: 8vw;
    }
    /*Splash*/
    #forside #portfolio {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #forside #portfolio #galleri_row {
        position: relative;
        width: 100%;
        height: 52vw;
        margin-bottom: 10px;
        overflow: hidden;
    }
    #splash_container {
        position: absolute;
        left: 11vw;
    }
    #splash_sprite {
        background-image: url(billeder/splash.jpg);
        background-size: cover;
        width: 10vw;
        height: 48vw;
        cursor: pointer;
    }
    #ide_container {
        position: absolute;
        left: 19vw;
        top: 3vw;
    }
    #ide_sprite {
        background-image: url(billeder/ide.jpg);
        background-size: cover;
        width: 10vw;
        height: 48vw;
        cursor: pointer;
    }
    #prototype_container {
        position: absolute;
        left: 27vw;
        top: 1vw;
    }
    #prototype_sprite {
        background-image: url(billeder/prototype.jpg);
        background-size: cover;
        width: 10vw;
        height: 48vw;
        cursor: pointer;
    }
    #pitch_container {
        position: absolute;
        left: 35vw;
        top: 2vw;
    }
    #pitch_sprite {
        background-image: url(billeder/pitch.jpg);
        background-size: cover;
        width: 10vw;
        height: 48vw;
        cursor: pointer;
    }
    #ass_container {
        position: absolute;
        left: 43vw;
        top: 0vw;
    }
    #ass_sprite {
        background-image: url(billeder/assitliste.jpg);
        background-size: cover;
        width: 10vw;
        height: 48vw;
        cursor: pointer;
    }
    #spil_container {
        position: absolute;
        left: 51vw;
        top: 1vw;
    }
    #spil_sprite {
        background-image: url(billeder/spil.jpg);
        background-size: cover;
        width: 10vw;
        height: 48vw;
        cursor: pointer;
    }
    #pilot_container {
        position: absolute;
        left: 59vw;
        top: 3vw;
    }
    #pilot_sprite {
        background-image: url(billeder/pilot.jpg);
        background-size: cover;
        width: 10vw;
        height: 48vw;
        cursor: pointer;
    }
    #redesign_container {
        position: absolute;
        left: 67vw;
    }
    #redesign_sprite {
        background-image: url(billeder/redesign.jpg);
        background-size: cover;
        width: 10vw;
        height: 48vw;
        cursor: pointer;
    }
    #forside #portfolio h1 {
        margin-top: 50px;
        text-align: center;
        margin-left: 7vw;
    }
    /*Emily Hoolahan*/
    #forside #emilyhoolahan .img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20vw;
        width: 20vw;
    }
    /*Emily Hoolahan*/
}

/*Forside*/


/**/


/**/


/**/


/**/


/**/


/*Emily Hoolahan*/

#emilyhoolahanside {
    margin: 5vw;
    position: relative;
}
#emilyhoolahanside .img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vw;
    width: 80vw;
}
#emilyhoolahanside .h1 {
    text-align: center;
    margin-top: -70px;
}
#emilyhoolahanside #me {
    height: 200vw;
    margin-top: 40vw;
    padding: 5vw;
    background-image: linear-gradient(180deg, rgb(88, 43, 82) 0%, rgba(39, 30, 98, 0.5368522408963585) 71%, rgba(33, 24, 105, 0) 100%);
}
#film {
    margin-top: 150vw;
    padding: 5vw;
    background-image: linear-gradient(180deg, rgb(88, 43, 82) 0%, rgba(39, 30, 98, 0.5368522408963585) 71%, rgba(33, 24, 105, 0) 100%);
}
video {
    width: 100%;
}
#emilyhoolahanside h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 3rem;
}
#footer_emilyhoolahan #footer_section {
    margin-top: 200px;
}
@media only screen and (min-width: 600px) {
    #emilyhoolahanside .img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20vw;
        width: 20vw;
    }
    #emilyhoolahanside h1 {
        text-align: center;
        margin-top: 8vw;
        font-size: 5rem;
    }
    #emilyhoolahanside #me {
        height: 30vw;
        margin-top: 20vw;
        padding: 10vw;
    }
    #me .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 40vw;
    }
    #me .section_wrapper .txt {
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin-right: 80px;
        margin-top: -25vw;
    }
    #me .section_wrapper .img2 {
        margin-top: -15vw;
        margin-left: 5vw;
        width: 30vw;
    }
    #film {
        margin-top: 20vw;
    }
    #film h1 {
        text-align: center;
        margin-top: 100px;
        font-size: 5rem;
    }
}

/*Emily Hoolahan*/


/*Portfolio*/

#portfolio {
    margin: 5vw;
    position: relative;
}
#portfolio a {
    font-size: 1.5rem;
}
#portfolio #portfolio_splash {
    margin-left: -3vw;
    margin-top: 100px;
}
#portfolio h2 {
    text-align: center;
}
#portfolio #portfolio_splash #galleri_row {
    position: relative;
    width: 100%;
    height: 140vw;
    margin-bottom: 10px;
    overflow: hidden;
}
#portfolio #portfolio_splash h1 {
    margin-top: 0px;
    text-align: center;
    margin-left: 3vw;
}
.nav_class {
    height: 10vw;
    width: 100vw;
    background-image: linear-gradient(0deg, rgb(88, 43, 82) 0%, rgba(39, 30, 98, 0.5368522408963585) 71%, rgba(33, 24, 105, 0) 100%);
    z-index: 50;
    text-align: center;
    margin: -5vw;
}
.nav_class a {
    padding: 10px;
}
#tema_nav a {
    font-size: 1rem;
}
#tema_nav {
    position: sticky;
    top: 20vw;
}
#portfolio #tema2 {
    height: 200vw;
    margin-top: 95vw;
    padding: 5vw;
    background-image: linear-gradient(180deg, rgb(88, 43, 82) 0%, rgba(39, 30, 98, 0.5368522408963585) 71%, rgba(33, 24, 105, 0) 100%);
    margin-top: 50vw;
}
#portfolio #tema2 .img {
    margin-top: -60px;
}
#tema2 .over p {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 50px;
    font-size: 1.5rem;
}
#portfolio #tema3 {
    height: 200vw;
    margin-top: 200vw;
    padding: 5vw;
    background-image: linear-gradient(180deg, rgb(88, 43, 82) 0%, rgba(39, 30, 98, 0.5368522408963585) 71%, rgba(33, 24, 105, 0) 100%);
    margin-top: 150vw;
}
#portfolio #tema3 .img {
    margin-top: 20vw;
}
#portfolio #tema3 .txt {
    margin-top: 20vw;
}
#portfolio #tema4 {
    height: 200vw;
    margin-top: 630vw;
    padding: 5vw;
    background-image: linear-gradient(180deg, rgb(88, 43, 82) 0%, rgba(39, 30, 98, 0.5368522408963585) 71%, rgba(33, 24, 105, 0) 100%);
    margin-top: 690vw;
}
#portfolio #tema4 .img {
    margin-top: 20vw;
}
#portfolio #tema4 .txt {
    margin-top: 0vw;
}
#portfolio #tema5 {
    height: 680vw;
    margin-top: 350vw;
    padding: 5vw;
    background-image: linear-gradient(180deg, rgb(88, 43, 82) 0%, rgba(39, 30, 98, 0.5368522408963585) 71%, rgba(33, 24, 105, 0) 100%);
}
#portfolio #tema5 .img {
    margin-top: -20vw;
}
#portfolio #tema5 .txt {
    margin-bottom: 40vw;
}
footer #portfolio_footer #footer_section {
    margin-top: 100vw;
}
@media only screen and (min-width: 600px) {
    #portfolio img {
        width: 30vw;
    }
    #portfolio #portfolio_splash {
        margin-top: 10vw;
        height: 100vw;
    }
    #portfolio #portfolio_splash h1 {
        margin-top: -89vw;
        text-align: center;
    }
    .nav_class {
        height: 5vw;
        width: 100vw;
        z-index: 50;
        margin: -5vw;
        margin-top: -35vw;
    }
    .nav_class a {
        padding-left: 100px;
        padding-right: 100px;
    }
    #tema_nav a {
        font-size: 1.5rem;
    }
    #tema_nav {
        top: 5vw;
    }
    #portfolio h2 {
        text-align: left;
        font-size: 3rem;
    }
    /*tema2*/
    #portfolio #tema2 {
        height: 40vw;
        margin-top: 30vw;
    }
    #portfolio #tema2 .section_wrapper .txt {
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 40vw;
    }
    #portfolio #tema2 .section_wrapper {
        height: 100vw;
        margin-top: 1vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #portfolio #tema2 .img {
        margin-top: -10vw;
    }
    #tema2 .over p {
        text-align: left;
        margin-top: -50px;
        margin-left: 20px;
        font-size: 2rem;
        width: 28.5vw;
    }
    /*tema2*/
    /*tema3*/
    #portfolio #tema3 {
        height: 150vw;
        margin-top: 25vw;
    }
    #portfolio #tema3 .section_wrapper_1 .txt {
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding-right: 80px;
        height: 42vw;
        margin-top: 0vw;
    }
    #portfolio #tema3 .section_wrapper_1 {
        height: 60vw;
        margin-top: 1vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #portfolio #tema3 .section_wrapper_1 .img {
        margin-top: -10vw;
        display: flex;
        justify-content: center;
        height: 50vw;
    }
    #portfolio #tema3 .section_wrapper_2 .txt {
        padding-left: 80px;
        height: 25vw;
        margin-top: 1vw;
        padding-top: 0vw;
    }
    #portfolio #tema3 .section_wrapper_2 {
        height: 25vw;
        margin-top: 10vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #portfolio #tema3 .section_wrapper_2 .img {
        margin-top: -10vw;
    }
    #portfolio #tema3 .section_wrapper_3 .txt {
        padding-right: 80px;
        height: 10vw;
        margin-top: 1vw;
        padding-top: 20vw;
    }
    #portfolio #tema3 .section_wrapper_3 {
        height: 40vw;
        margin-top: 15vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #portfolio #tema3 .section_wrapper_3 .img {
        margin-top: -10vw;
        display: flex;
        justify-content: center;
        height: 50vw;
    }
    /*tema3*/
    /*tema4*/
    #portfolio #tema4 {
        height: 100vw;
        margin-top: 30vw;
    }
    #portfolio #tema4 .section_wrapper_1 .txt {
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding-right: 80px;
        height: 45vw;
        margin-top: 1vw;
    }
    #portfolio #tema4 .section_wrapper_1 {
        height: 60vw;
        margin-top: 1vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #portfolio #tema4 .section_wrapper_1 .img {
        margin-top: -10vw;
        display: flex;
        justify-content: center;
        height: 50vw;
    }
    #portfolio #tema4 .section_wrapper_2 .txt {
        padding-left: 80px;
        height: 25vw;
        margin-top: 1vw;
        padding-top: 0vw;
    }
    #portfolio #tema4 .section_wrapper_2 {
        height: 40vw;
        margin-top: 1vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #portfolio #tema4 .section_wrapper_2 .img {
        margin-top: -5vw;
    }
    /*tema4*/
    /*tema5*/
    #portfolio #tema5 {
        height: 100vw;
        margin-top: 20vw;
    }
    #portfolio #tema5 .section_wrapper_1 .txt {
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding-right: 80px;
        height: 40vw;
        margin-top: 1vw;
    }
    #portfolio #tema5 .section_wrapper_1 {
        height: 60vw;
        margin-top: 1vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #portfolio #tema5 .section_wrapper_1 .img {
        margin-top: -10vw;
    }
    #portfolio #tema5 .section_wrapper_2 .txt {
        padding-right: 80px;
        height: 25vw;
        margin-top: 1vw;
        padding-top: 0vw;
    }
    #portfolio #tema5 .section_wrapper_2 {
        height: 40vw;
        margin-top: 1vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #portfolio #tema5 .section_wrapper_2 .img {
        margin-top: 5vw;
        margin-left: 5vw;
    }
    /*tema5*/
    footer #portfolio_footer #footer_section {
        margin-top: 30vw;
    }
}

/*Portfolio*/


/*ide*/

#ide_side {
    margin: 10vw;
}

/*ide*/


/*pitch_side*/

#pitch_side {
    margin: 10vw;
}

/*ipitch_sidede*/


/*ass_side*/

#ass_side {
    margin: 10vw;
}

/*ass_sidede*/


/*redesign_side*/

#redesign_side {
    margin: 10vw;
}

/*redesign_sidede*/


/*kontakt*/


/*
#kontakt_siden {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}
*/

#kontakt_siden_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 50;
}
#kontakt_siden {
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#kontakt_siden .section_wrapper_element {
    position: absolute;
    background-image: url(assetliste/kontaktbg.svg);
    background-size: cover;
    width: 90vw;
    height: 142vw;
    top: 20vw;
    left: 5%;
    z-index: 20;
}
#x {
    position: absolute;
    background-image: url(assetliste/x.svg);
    background-size: cover;
    width: 4vw;
    height: 4vw;
    top: 3vw;
    left: 83vw;
    cursor: pointer;
}
#kontakt_siden .section_wrapper_element .h2 {
    text-align: center;
    margin-top: 20vw;
}

/*forms*/

.form_holder {
    width: 90vw;
    height: 127vw;
    margin-top: -5.3vw;
}
label,
input,
textarea,
select,
button {
    display: block;
    font-family: lato;
    font-size: 0.7rem;
    font-weight: 100;
    color: #D6C97E;
    margin-left: 5vw;
    margin-top: 2vw;
}
.form-felt {
    margin: 2vw;
}
label {
    font-family: lato;
    font-size: 1.2rem;
    color: #D6C97E;
    font-weight: 300;
}
input {
    background-image: linear-gradient(180deg, rgb(88, 43, 82) 0%, rgba(39, 30, 98) 71%, rgba(33, 24, 105) 100%);
    border-radius: 20px;
    width: 55vw;
    height: 6vw;
    margin-bottom: 6vw;
    border: none;
    padding-left: 3vw;
}
textarea {
    border-radius: 20px;
    background-image: linear-gradient(180deg, rgb(88, 43, 82) 0%, rgba(39, 30, 98) 71%, rgba(33, 24, 105) 100%);
    width: 40vw;
    height: 25vw;
    line-height: 5vw;
    border: 0;
    padding-left: 3vw;
    padding-top: 1vw;
}
#sendBtn {
    background-image: url(assetliste/knap.svg);
    background-size: cover;
    height: 10vw;
    width: 30vw;
    border-radius: 20px;
    font-weight: 300;
    font-size: 1rem;
}
button {
    border: none;
    background-color: rgba(0, 255, 255, 0);
    margin-top: 10vw;
    margin-left: 25vw;
    cursor: pointer;
}
button:hover {
    color: #ffffff;
}

/*
    tr {
        font-family: 'Titillium Web', sans-serif;
        color: black;
    }
    table {
        width: 300px;
        height: 20px;
    }
*/


/*forms*/

@media only screen and (min-width: 600px) {
    #kontakt_siden .section_wrapper_element {
        width: 25vw;
        height: 39vw;
        top: 10vw;
        left: 37.5%;
    }
    #x {
        width: 1vw;
        height: 1vw;
        top: 1vw;
        left: 23vw;
    }
    #kontakt_siden .section_wrapper_element .h2 {
        text-align: center;
        margin-top: 23vw;
        margin-bottom: -2vw;
    }
    #kontakt_siden h2 {
        font-size: 3rem;
    }
    .form_holder {
        width: 25vw;
        height: 39vw;
        margin-top: -20vw;
    }
    label,
    input,
    textarea,
    select,
    button {
        font-size: 0.7rem;
        font-weight: 100;
        margin-left: 1.4vw;
        margin-top: 1vw;
    }
    .form-felt {
        margin: 0.5vw;
    }
    label {
        font-size: 1.2rem;
        font-weight: 300;
    }
    input {
        border-radius: 40px;
        width: 15vw;
        height: 2vw;
        margin-bottom: 1.5vw;
        border: none;
        padding-left: 1vw;
    }
    textarea {
        border-radius: 20px;
        width: 15vw;
        height: 8vw;
        line-height: 2vw;
        border: 0;
        padding-left: 1vw;
        padding-top: 0vw;
    }
    #sendBtn {
        background-image: url(assetliste/knap.svg);
        background-size: cover;
        height: 10vw;
        width: 30vw;
        border-radius: 20px;
        height: 3vw;
        width: 9vw;
        font-weight: 300;
        font-size: 1rem;
    }
    button {
        margin-top: 1.5vw;
        margin-left: 6.5vw;
    }
}

/*kontakt*/


/*Tak for besked*/

#besked_sendt_contaainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 60;
}
#besked_sendt {
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}
#x2 {
    position: absolute;
    background-image: url(assetliste/x.svg);
    background-size: cover;
    width: 4vw;
    height: 4vw;
    top: 3vw;
    left: 83vw;
    cursor: pointer;
}
#besked_sendt .section_wrapper_element {
    position: absolute;
    background-image: url(assetliste/kontaktbg.svg);
    background-size: cover;
    width: 90vw;
    height: 142vw;
    top: 20vw;
    left: 5%;
    z-index: 20;
}
#besked_sendt .section_wrapper_element .h2 {
    text-align: center;
    margin-top: 50vw;
}

/*forms*/

#tilbage {
    background-image: url(assetliste/knap.svg);
    background-size: cover;
    height: 10vw;
    width: 30vw;
    border-radius: 20px;
    font-weight: 300;
    font-size: 1rem;
}
button {
    border: none;
    background-color: rgba(0, 255, 255, 0);
    margin-top: 10vw;
    margin-left: 30vw;
    cursor: pointer;
}
button:hover {
    color: #ffffff;
}
@media only screen and (min-width: 600px) {
    #kontakt_siden .section_wrapper_element {
        width: 25vw;
        height: 39vw;
        top: 10vw;
        left: 37.5%;
    }
    #x2 {
        width: 1vw;
        height: 1vw;
        top: 1vw;
        left: 23vw;
    }
    #kontakt_siden #besked_sendt .section_wrapper_element .h2 {
        text-align: center;
        margin-top: 23vw;
        margin-bottom: -2vw;
    }
    #kontakt_siden #besked_sendt h2 {
        margin-top: -10vw;
        font-size: 3rem;
    }
    #tilbage {
        border-radius: 20px;
        height: 3vw;
        width: 9vw;
        font-weight: 300;
        font-size: 1rem;
    }
    button {
        margin-top: 4.5vw;
        margin-left: 8vw;
    }
}

/*Tak for besked*/


/*Animationer*/

.hidden {
    opacity: 0;
    cursor: pointer;
}
.remove {
    display: none;
}
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, -0px);
    }
}
.floating2 {
    animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating2 {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, -15px);
    }
    100% {
        transform: translate(0, -0px);
    }
}
.floating3 {
    animation-name: floating3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating3 {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

/*Animationer*/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/
